/* {
    background-color: slateblue;
}*/
img{
    width: 15% !important;
    height: 20% !important;
}
.ima{
    width: 15% !important;
    height: 15% !important;
}
body{
    margin: 1px 10px 1px;
    background-image: url("Imagenes/Lnvidia.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
}
#yo{
    border-width: 20px;
    border-color: white;
    border-style: dotted;
}
nav{
    width: 33%;
    float: left;
    background-color: slateblue;
}
article{
    width: 33%;
    float:left;
    background-color: slateblue;
}
aside{
    width: 33%;
    float: left;
    background-color: slateblue;
}
